<html>

{{ items }}

<ul>
{% for i in res %}
<li>{{ i.getId() }} </li>
    <li>{{ i.getIdFrom() }} </li>
    <li>{{ i.getIdTo() }} </li>
    <li>{{ i.getRate() }} </li>
    sjwqdhqaujw
{% endfor %}
</ul>
</html>